.text2{
    background-color: rgb(148, 193, 193);
    width: 250px;
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 20px;


    
   
}
.img1{
    width: 200px;
    display: block;
    margin:auto;
    border-radius: 10px;

}
.btn{
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    bottom: solid black;
    margin-left: 40px;

}